.container-gallery-infoproduct {
  display: flex;
  width: 100%;
}

.container-deliver-credifin {
  display: flex;
}

.app-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1024px) {

  .container-gallery-infoproduct {
    flex-direction: row-reverse;
  }

  .container-deliver-credifin {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .container-gallery-infoproduct {
    flex-direction: column-reverse;
  }

}