.container-gallery-infoproduct {
  display: flex;
  width: 100%;
}

.container-deliver-credifin {
  display: flex;
}

@media (max-width: 1024px) {

  .container-gallery-infoproduct {
    flex-direction: row-reverse;
  }

  .container-deliver-credifin {
    flex-direction: column;
  }
}